<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Participante</title>
</head>
<body>

                    <!--  AMOSTRA DE DADOS -->
    <h2>Editar Participante </h2>

    <div>
        <table border="1">
          <tr>
                <th>ID                  </th>
                <th>MATRÍCULA           </th>
                <th>NOME                </th>
                <th>SOBRENOME           </th>
                <th>CADASTRO NO SISTEMA </th>
                <th>DATA DE NASCIMENTO  </th>
                <th>SEXO                </th>
          </tr>
          <tr>
                <th>{{ policial.idPolicial      }}</th>
                <th>{{ policial.Matricula       }}</th>
                <th>{{ policial.Nome            }}</th>
                <th>{{ policial.Sobrenome       }}</th>
                <th>{{ policial.DataCadastro    }}</th>
                <th>{{policial.DataNascimento   }}</th>
                <th>{{ policial.Sexo            }}</th>
          </tr>
        </table>
    </div>

                 <!--  INSERÇÃO DE DADOS -->
    <h3>Editar</h3>

    <div>
        <form action="{% url 'atualizar' policial.idPolicial %}" method="POST">
            {% csrf_token %}
            Matricula           <input type="text" name="Matricula"         value="{{ policial.Matricula }}"        required    >   <br>
            Nome                <input type="text" name="Nome"              value="{{ policial.Nome }}"             required    >   <br>
            Sobrenome           <input type="text" name="Sobrenome"         value="{{ policial.Sobrenome }}"        required    >   <br>
            Data de Cadastro    <input type="date" name="DataCadastro"      value="{{ policial.DataCadastro }}"     required    >   <br>
            Data de Nascimento  <input type="date" name="DataNascimento"    value="{{ policial.DataNascimento }}"   required    >   <br>
            Selecione o Sexo    <input type="text" name="Sexo"              value="{{ policial.Sexo }}"             required    >   <br><br>

            <button type="submit" onclick="return confirm('Deseja realmente atualizar este participante?')">Atualizar</button>
        </form>
    </div>

    <br>

    <div>
        <a href=" /grupos ">Voltar</a>
    </div>
</body>
</html>