<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Participantes</title>
</head>
<body>

                <!--  AMOSTRA DE DADOS -->
    <h2>Cadastro de Participantes</h2>
    <div>
        DESENVOLVER BARRA DE PESQUISA AQUI
    </div>
    <div class="tabela-policiais">                          <!-- ADD CSS -->
        <table border="1">
            <tr>
                <th>ID                  </th>
                <th>MATRÍCULA           </th>
                <th>NOME                </th>
                <th>SOBRENOME           </th>
                <th>CADASTRO NO SISTEMA </th>
                <th>DATA DE NASCIMENTO  </th>
                <th>SEXO                </th>
                <th>OPÇÕES              </th>
            </tr>

        {% for policial in policiais %}
            <tr>
                <th>{{ policial.idPolicial     }}</th>
                <th>{{ policial.Matricula      }}</th>
                <th>{{ policial.Nome           }}</th>
                <th>{{ policial.Sobrenome      }}</th>
                <th>{{ policial.DataCadastro   }}</th>
                <th>{{ policial.DataNascimento }}</th>
                <th>{{ policial.Sexo           }}</th>

                <th>
                    <a href="{% url "editar"    policial.idPolicial %}">Editar</a>
                    <a href="{% url "deletar"   policial.idPolicial %}" onclick="return confirm('Deseja realmente deletar este participante?')">Deletar</a>
                </th>
        {% endfor %}
            </tr>
        </table>
    </div>
    <br>

                <!--  INSERÇÃO DE DADOS -->
    <h3>Realizar Cadastro</h3>
    <div class="tabela-insercao-dados-policial">                     <!-- ADD CSS -->
        <form action="{% url 'salvar' %}" method="POST">
            {% csrf_token %}
            Matricula           <input type="text" name="Matricula"         required    >   <br>
            Nome                <input type="text" name="Nome"              required    >   <br>
            Sobrenome           <input type="text" name="Sobrenome"         required    >   <br>
            Data de Cadastro    <input type="date" name="DataCadastro"      required    >   <br>
            Data de Nascimento  <input type="date" name="DataNascimento"    required    >   <br>
            Selecione o Sexo    <input type="text" name="Sexo"              required    >   <br><br>

            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <br>
    <div>
        <a href="{% url 'home_psicologo' %}">Cadastrar Psicologo</a>
    </div>
    </body>
</html>